@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, color, border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
